<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © <%= Time.now.year %>  <%= link_to 'Progressive Techies', 'http://www.facebook.com/progtechies', target: '_blank' %></p>
  </div>
</footer>